/* ========== Google Fonts ========== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

html{
    font-size: 62.5%; /* 1rem = 10px */
    scroll-behavior: smooth;
}
:root{
/* Font Sizes & Family */
/* if we set html's font size 62.5% then 1rem = 10px */

--body-font: 'Poppins', sans-serif;
--title-font: 'Playfair Display SC', serif;

--big-font: 4rem;
--h1-font: 3.6rem;
--h2-font: 2.4rem;
--h3-font: 2rem;
--h4-font: 1.8rem;
--normal-font: 1.6rem;
--small-font: 1.4rem;
--smaller-font: 1.3rem;

/* Font Weight */
--font-regular: 400;
--font-medium: 500;
--font-semi-bold: 600;
--font-bold: 800;

/* Color Variables */
--primary-color: #C87E4F;
--primary-color-hover: #C2703D;
--text-color: #282828;
--text-color-light: #888682;
--border-color: #484848;
--white-color: #FFF;
--section-bg: #f2f0ea;

/* z-index */
--z-overlay: 10;
--z-fixed: 100;

/* transition */
--tran-0-2: 0.2s;
--tran-0-3: 0.3s;
--tran-0-5: 0.5s;
}

/*Font sizes For Small Screen 968px */
@media screen and (max-width: 990px) {
:root {
  --big-font: 3.5rem;
  --h1-font: 2.4rem;
  --h2-font: 2rem;
  --h3-font: 1.8rem;
  --h4-font: 1.6rem;
  --normal-font: 1.5rem;
  --small-font: 1.3rem;
  --smaller-font: 1.2rem;
}
}


/* Pre-CSS */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  overflow-x: hidden;
  background-color: #f7f7f7;
}

/* Custom Scrollbar */
::selection{
  background-color: #9e7e00;
  color: var(--white-color);
}
::-webkit-scrollbar{
  width: 8px;
}
::-webkit-scrollbar-track{
  background-color: #f9f1ec;
}
::-webkit-scrollbar-thumb{
  border-radius: 1rem;
  background-color: #9e7e00;
}
::-webkit-scrollbar-thumb:hover{
  border-radius: 1rem;
  background-color: #9e7e00;
}

body,
button,
input{
  font-family: var(--body-font);
  font-size: var(--normal-font);
  font-weight: var(--font-regular);
  color: var(--text-color);
}

input{
  outline: none;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}
img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Reusuable CSS */
.section{
  padding: 7rem 2rem;
}
.container{
  max-width: 1030px;
  width: 100%;
  margin: 0 auto;
  padding: 0 3rem;
}
.flex{
  display: flex;
  align-items: center;
  column-gap: 0.6rem;
}
/* .button{
  border: none;
  outline: none;
  color: var(--white-color);
  padding: 1.4rem 4rem;
  border-radius: 3rem;
  background-color: var(--primary-color);
  transition: var(--tran-0-3);
  cursor: pointer;
}
.button:hover{
  background-color: var(--primary-color-hover);
} */
.section-subtitle,
.content-subtitle{
  color: var(--primary-color);
  font-size: var(--h2-font);
  letter-spacing: 1px;
  font-weight: var(--font-medium);
  text-align: center;
  font-family: "Playfair Display ", serif;
  font-style: bold;
}
.section-title,
.content-title{
  text-align: center;
  font-size: var(--h1-font);
  font-weight: 700;
  margin: 1rem 0;
  color: var(--text-color);
  font-family: "Playfair Display SC", serif;
  font-style: bold;
}
.section-description,
.content-description{
  text-align: center;
  margin-bottom: 2rem;
  color: #282828;
}
.section-description{
  padding: 0 16rem;
}

/* ========== Header ========== */
.header{
  position: fixed;
  top: 0;
  left: 0;
  height: 7rem;
  width: 100%;
  z-index: var(--z-fixed);
  transition: var(--tran-0-5);
}
.header-active{
  height: 6rem;
  background-color: #f2f0ea;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* ========== nav ========== */
.nav{
  position: relative;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

.logo-text,
.nav-link,
.phone-icon,
.phone-number{
  color: #fff;
}

.logo-icon {
  width: auto; 
  height: 6rem;
  /* padding: 0rem 1rem; */
}
.logo-text{
  font-family: "Playfair Display SC", serif;
  font-weight: var(--font-semi-bold);
}
.header-active .logo-text,
.header-active .nav-link,
.header-active .phone-icon,
.header-active .phone-number{
  color: var(--text-color);
}

.menu-list{
  column-gap: 2rem;
}
.nav-link{
  position: relative;
  text-transform: capitalize;
}
.nav-link::before{
  content: '';
  position: absolute;
  left: 50%;
  bottom: -8px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  opacity: 0;
}
/* .active-navlink::before{
  opacity: 1;
} */
.header-active .active-navlink::before{
  background-color: var(--text-color);
}
.media-icons{
  column-gap: 1rem;
}
.media-icons a{
  color: var(--text-color-light);
}
.navClose-btn,
.navOpen-btn,
.media-icons{
  display: none;
}

/* ========== nav responsive ========== */
@media screen and (max-width: 768px) {
  .contact-content{
    display: none;
  }
  .navClose-btn,
  .navOpen-btn,
  .media-icons{
  display: block;
}
  .nav .menu-content{
    position: fixed;
    top: 0;
    right: -100%;
    max-width: 300px;
    width: 100%;
    height: 100%;
    z-index: var(--z-fixed);
    padding: 10rem 0 5rem;
    background-color: var(--white-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: var(--tran-0-5);
  }
  .nav .menu-content.open{
    right: 0;
  }
  .menu-list{
    flex-direction: column;
    row-gap: 2.5rem;
    font-size: var(--h4-font);
  }
  .nav-link{
    color: var(--text-color);
  }
  .nav-link::before{
    background-color: var(--text-color);
  }
  .navClose-btn{
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 2.5rem;
    cursor: pointer;
  }
  .navOpen-btn{
    font-size: 2rem;
    cursor: pointer;
    color: var(--text-color);
  }
  .header-active .navOpen-btn{
    color: var(--text-color);
  }
}

/* ========== HERO ========== */


/*.homepage {
  height: 100vh;
  width: 100%;
  position: relative;
  background: url("/images/THCC_hero.svg");
  background-position: center 65%;
  background-size: cover;
  background-attachment: fixed;
  opacity: 0.9;
}

.homepage::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.2); 
}

.homepage .content {
  display: flex;
  height: 85%;
  z-index: 3;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.homepage .content h1 {
  font-size: 60px;
  margin-top: 50px;
  margin-bottom: 10px;
  font-weight: 800;
  font-style: var(--font-semi-bold);
}

.homepage .content h2 {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 10px;
  font-style: var(--font-semi-bold);
}

.homepage .content .text {
  margin-bottom: 50px;
  color: #fff;
  font-size: 20px;
  text-align: center;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  font-style: 'Poppins', sans-serif;

}

.content .hero__btn {
  color: #fff;
  display: block;
  text-transform: uppercase;
  font-size: 18px;
  margin: 0 10px;
  padding: 10px 30px;
  border-radius: 5px;
  background: #9e7e00;
  border: 2px solid #9e7e00;
  transition: 0.4s ease;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  text-decoration: none;
  
}

.content .hero__btn:hover {
  color: #f2f0ea;
  background: #609f60;
  border: 2px solid #609f60;
}*/


/* ========== Home ========== */

.home{
  height: 100vh;
  width: 100%;
  /* background-color: red; */
}
.swiper-slide{
  position: relative;
  height: 100vh;
  width: 100%;
}
.home .swiper-slide::before{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: var(--z-overlay);
}
.home-img{
  height: 100%;
  width: 100%;
}

/* swiper button */
.swiper-navBtn{
  height: 5rem;
  width: 5rem;
  color: var(--white-color);
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  transition: var(--tran-0-2);
  opacity: 1;
  visibility: visible;
}
.home:hover .swiper-navBtn,
.review:hover .swiper-navBtn{
  opacity: 1;
}
.swiper-navBtn:hover{
  background-color: #9e7e00;
}
.swiper-navBtn::after,
.swiper-navBtn::before{
  font-size: 2rem;
}

.swiper-button-next{
  right: 16rem;
}
.swiper-button-prev{
  left: 16rem;
}

.swiper-pagination-bullet{
  background-color: var(--white-color);
  opacity: 1;
  height: 1.5rem;
  width: 1.5rem;
  margin-bottom: 2rem;
  visibility: hidden;
}
.swiper-pagination-bullet-active{
  border: 3px solid var(--white-color);
  background-color: #9e7e00;
}
.home-details{
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: var(--z-fixed);
  transform: translate(-50%, -50%);
  display: grid;
  justify-items: center;
  width: 100%;
  row-gap: 4rem;
  font-style: 'Poppins', sans-serif;
}

.homeSubtitle{
  /* text-align: center;
  font-size: var(--normal-font);
  color: var(--white-color); */
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 10px;
  font-style: var(--font-semi-bold);
}
.homeTitle{
  font-size: 60px;
  margin-top: 50px;
  margin-bottom: 10px;
  font-weight: 800;
  font-style: var(--font-semi-bold);
  /*text-align: center;
  font-size: var(--big-font); 
  color: var(--white-color);
  font-weight: var(--font-semi-bold);*/
}

.home-text {
  margin-bottom: 50px;
  color: #fff;
  font-size: 20px;
  text-align: center;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  font-style: 'Poppins', sans-serif;
}

.home-details .hero__btn {
  color: #fff;
  display: block;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: var(--font-medium);
  margin: 0 10px;
  padding: 10px 30px;
  border-radius: 5px;
  background: #9e7e00;
  border: 2px solid #9e7e00;
  transition: 0.4s ease;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  text-decoration: none;
  
}

.home-details .hero__btn:hover {
  color: #f2f0ea;
  background: #609f60;
  border: 2px solid #609f60;
}


/* ========== About ========== */
.about .content-subtitle,
.about .content-title,
.about .content-description{
  text-align: left;
}
.about-content{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  column-gap: 7rem;
  align-items: center;
  padding: 0 5rem;
}
.about-imageContent{
  position: relative;
  max-width: 400px;
  height: 450px;
  border: 6px solid var(--section-bg);
  margin-bottom: 5rem;
}
/* .aboutImg-textBox{
  position: absolute;
  bottom: 2rem;
  right: -5rem;
  padding: 2rem;
  max-width: 360px;
  width: 100%;
  text-align: center;
  border: 6px solid var(--section-bg);
  background-color: var(--white-color);
} */
/* .aboutImg-textBox .content-description{
  text-align: center;
  margin-bottom: 0;
}
.about-details{
  display: grid;
  row-gap: 4rem;
}
.about-lists{
  column-gap: 1rem;
  align-items: baseline;
}
.about-list{
  font-weight: var(--font-medium);
  font-size: 1.8rem;
}
.about-list:nth-child(1){
  color: var(--primary-color);
}
.about-list.dot{
  font-size: 2.5rem;
}
.about-buttons{
  column-gap: 2rem;
}
.about-link .link-text,
.about-arrowIcon{
  color: var(--text-color);
  text-transform: uppercase;
}
.about-arrowIcon{
  transition: var(--tran-0-3);
}
.about-link:hover .about-arrowIcon{
  margin-left: 4px;
} */

/* ========== Services ========== */
.services{
  background-color: #282828;
}
.section-title,
.section-description{
  color: var(--text-color);
}

/* cards */
.cards {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin-top: 50px;
  padding: 0 10px;
  justify-content: space-between;
}

.cards img {
  border-radius: 5px;
}

section .cards .card {
  background: #fff;
  padding: 40px 15px;
  list-style: none;
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.04);
  margin-bottom: 40px;
  width: calc(100% / 3 - 30px);
  text-align: center;
  height: fit-content;
}

section .cards .card p {
  font-size: var(--small-font);
}

/* ACCORDION */
.accordion{
  display: flex;
  max-width: 1010px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  border-radius: 25px;
  padding: 45px 90px 45px 60px;
}
.accordion .image-box{
  height: 360px;
  width: 300px;
}
.accordion .image-box img{
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.accordion .accordion-text{
  width: 60%;
}
.accordion .accordion-text .title{
  font-size: 35px;
  font-weight: 600;
  color: #9e7e00;
  font-family: 'Fira Sans', sans-serif;
}
.accordion .accordion-text .faq-text{
  margin-top: 25px;
  height: 263px;
  overflow-y: auto;
}
.faq-text::-webkit-scrollbar{
  display: none;
}
.accordion .accordion-text li{
  list-style: none;
  cursor: pointer;
}
.accordion-text li .question-arrow{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.accordion-text li .question-arrow .question{
  font-size: 18px;
  font-weight: 500;
  color: #282828;
  transition: all 0.3s ease;
}
.accordion-text li .question-arrow .arrow{
  font-size: 20px;
  color: #282828;
  transition: all 0.3s ease;
}
.accordion-text li.showAnswer .question-arrow .arrow{
  transform: rotate(-180deg);
}
.accordion-text li:hover .question-arrow .question,
.accordion-text li:hover .question-arrow .arrow{
  color: #9e7e00;
}
.accordion-text li.showAnswer .question-arrow .question,
.accordion-text li.showAnswer .question-arrow .arrow{
  color: #9e7e00;
}
.accordion-text li .line{
  display: block;
  height: 2px;
  width: 100%;
  margin: 10px 0;
  background: rgba(0, 0, 0, 0.1);
}
.accordion-text li p{
  width: 92%;
  font-size: 15px;
  font-weight: 500;
  color: #282828;
  display: none;
}
.accordion-text li.showAnswer p{
  display: block;
}

@media (max-width: 994px) {
  body{
    padding: 40px 20px;
  }
  .accordion{
    max-width: 100%;
    padding: 45px 60px 45px 60px;
  }
  .accordion .image-box{
    height: 360px;
    width: 220px;
  }
  .accordion .accordion-text{
    width: 63%;
  }
}
@media (max-width: 820px) {
  .accordion{
    flex-direction: column;
  }
  .accordion .image-box{
    height: 360px;
    width: 300px;
    background: #9e7e00;
    width: 100%;
    border-radius: 25px;
    padding: 30px;
  }
  .accordion .accordion-text{
    width: 100%;
    margin-top: 30px;
  }
}
@media (max-width: 538px) {
  .accordion{
    padding: 25px;
  }
  .accordion-text li p{
    width: 98%;
  }
}

/* .accordion{
  max-width: 945px;
  width: 100%;
  background: #FFF;
  margin: 0 15px;
  padding: 15px;
  border-radius: 8px;
  box-shadow:  0 0 4px rgba(0,0,0,0.2);
}
.accordion .accordion-content{
  margin: 10px 0;
  border-radius: 4px;
  background: #FFF7F0;
  border: 1px solid #FFD6B3;
  overflow: hidden;
}
.accordion-content:nth-child(2){
  background-color: #F0FAFF;
  border-color: #CCEEFF;
}
.accordion-content:nth-child(3){
  background-color: #FFF0F3;
  border-color: #FFCCD6;
}
.accordion-content:nth-child(4){
  background-color: #F0F0FF;
  border-color: #CCCCFF;
}
.accordion-content.open{
  padding-bottom: 10px;
}
.accordion-content header{
  display: flex;
  min-height: 50px;
  padding: 0 15px;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
  transition: all 0.2s linear;
}
.accordion-content.open header{
  min-height: 35px;
}
.accordion-content header .title{
  font-size: 14px;
  font-weight: 500;
  color: #333;
}
.accordion-content header i{
  font-size: 15px;
  color: #333;
}
.accordion-content .description{
  height: 0;
  font-size: 12px;
  color: #333;
  font-weight: 400;
  padding: 0 15px;
  transition: all 0.2s linear;
} */



/* COLUMBARIUM */
.review{
  background-color: #f2f0ea;
}

.testi-content{
  position: relative;
  height: 100%;
  width: 100%;
  row-gap: 2rem;
  flex-direction: column;
}
.review-img{
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin-bottom: 2rem;
}


/*  COUNTER =============== */
span.num {
  color: #282828;
  display: grid;
  place-items: center;
  font-weight: 600;
  font-size: 6rem;
  font-family: "Playfair Display SC", serif;
  font-style: bold;
  margin-bottom: 5px;
}

span.text {
  color: #282828;
  font-size: 1.5rem;
  /* text-align: center; */
  line-height: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: bold;
  margin-top: 5px;
}






/* CONTACT */

.newsletter {
  background-color: #f7f7f7;
  /* height: 100vh; */
  min-height: calc(100vh - 5rem); 
	display: grid;
	align-items: center;
}

.newsletter .logo-icon,
.newsletter .logo-text,
.newsletter .section-description{
  color: var(--text-color);
}
.newletter-container{
  display: grid;
  justify-items: center;
  row-gap: 4rem;
}
.newsletter .logo-icon{
  font-size: 3rem;
  color: var(--text-color-light);
}
.newsletter .logo-text{
  color: var(--text-color-light);
  font-size: 2rem;
  font-weight: var(--font-medium);
}
.contact-wrap {
	width: 80%;
	height: auto;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
  max-width: 1010px;
  width: 100%;
}

.contact-in {
	padding: 40px 30px;
}

.contact-in:nth-child(1) {
	flex: 30%;
	color: #282828;
  background: #f7f7f7;

}

.contact-in:nth-child(2) {
	flex: 45%;
	background: #f2f0ea;
  border-radius: 5px;
}

.contact-in:nth-child(3) {
	flex: 25%;
	padding: 0;
}

.contact-in h1 {
	font-size: 24px;
	color: #282828;
	text-transform: uppercase;
	font-weight: 500;
	margin-bottom: 20px;
}

.contact-in h2 {
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 15px;
}

.contact-in h2 i {
	font-size: 16px;
	width: 40px;
	height: 40px;
	margin-right: 10px;
	background: #f2f0ea;
	color: #282828;
	border-radius: 50px;
	line-height: 40px;
	text-align: center;
}

.contact-in p {
	font-size: 14px;
	font-weight: 400;
	margin-bottom: 20px;
}

.contact-in ul {
	padding: 0;
	margin: 0;
}

.contact-in ul li {
	list-style: none;
	display: inline-block;
	margin-right: 5px;
	margin-top: 5px;
}

.contact-in ul li a {
	display: block;
	width: 30px;
	height: 30px;
	text-align: center;
	background: #f2f0ea;
	border-radius: 50px;
}

.contact-in ul li a i {
	font-size: 14px;
	line-height: 30px;
	color: #282828;
}

.contact-in iframe {
	width: 100%;
	height: 100%;
}


@media only screen and (max-width:480px) {
	.contact-in:nth-child(1) {
		flex: 50%;
	}

	.contact-in:nth-child(2) {
		flex: 50%;
	}

	.contact-in:nth-child(3) {
		flex: 100%;
	}

}

@media only screen and (max-width:360px) {
	.contact-in:nth-child(1) {
		flex: 50%;
	}

	.contact-in:nth-child(2) {
		flex: 50%;
	}

	.contact-in:nth-child(3) {
		flex: 100%;
	}

}

/* .newsletter .row {
  margin: 60px 0 90px;
  max-width: 1200px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  display: relative;
}

.newsletter .row .col {
  padding: 0 10px;
  width: 50%;
}

.newsletter .col p {
  margin-bottom: 10px;
  color: #282828;
}

.newsletter .col p i {
  color: #282828;
  margin-right: 10px;
  font-size: 20px;
}


.map {
  display: relative;
  width: 500px;
  height: 500px;
}

.map iframe {
  border: 0;
  width: 100%;
  height: 100%;
} */
/* .map {
  display: flex;
  bottom: 20px; 
  right: 20px;
  width: 600px;
  height: 600px;
}

.map iframe {
  border: 0;
  height: 600px;
  width: 600px;
  margin: 0 auto;
} */




/* FOOTER */
.footer{
  /* padding:4rem; */
  background-color: #ececec;
  padding-top: 1rem; /* Adjust the top padding */
  padding-bottom: 1rem; /* Adjust the bottom padding */
  margin-top: 1rem; /* Adjust the top margin */
  margin-bottom: 1rem; /* Adjust the bottom margin */
}


.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

.footer-column {
  flex: 1;
  margin: 0 20px;
}

.logo img {
  width: 150px; /* Adjust the width as needed */
}



.footer-about h3 {
  color: #ececec;
  font-size: 16px;
  margin-bottom: 10px;
}

.footer-about p {
  color: #282828;
  font-size: 12px;
  line-height: 1.5;
  font-weight: 700;
}

.footer-copyRight{
  max-width: 970px;
  margin: 0 auto;
  text-align: center;
  padding-top: 3rem;
  margin-top: 3rem;
  font-size: var(--small-font);
  border-top: 1px solid #282828;
  color: #282828;
}


/* Scroll Up */
.scrollUp-btn{
  position: fixed;
  bottom: -30%;
  right: 3rem;
  height: 3rem;
  width: 3rem;
  font-size: 2rem;
  border-radius: 4px;
  color: #9e7e00;
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  background-color: var(--white-color);
  z-index: var(--z-overlay);
  justify-content: center;
  transition: var(--tran-0-3);
}
.scrollUpBtn-active{
  bottom: 3rem;
}
.scrollUp-icon{
  opacity: 0.9;
  transition: var(--tran-0-3);
}
.scrollUp-btn:hover .scrollUp-icon{
  opacity: 1;
}

/* Responive media */
@media screen and (max-width: 1150px) {
  .swiper-button-prev {
    left: 10rem;
}
  .swiper-button-next {
    right: 10rem;
}
}

@media screen and (max-width: 1000px) {
  .swiper-button-prev {
    left: 3rem;
}
  .swiper-button-next {
    right: 3rem;
}
  .section-description {
    padding: 0 8rem;
  }
  .about-imageContent {
    height: 400px;
  }
  .aboutImg-textBox {
    padding: 1.5rem 2rem;
  }
  .services .menu-content {
    grid-template-columns: 1.5fr 1fr;
    column-gap: 3rem;
  }
  .brand-images{
    grid-template-columns: repeat(3,1fr);
  }

}

@media screen and (max-width: 768px) {
  .section.review{
    padding: 7rem 1rem 3rem;
  }
  .review .swiper{
    padding-bottom: 6.5rem;
  }
  .swiper-navBtn{
    visibility: hidden;
  }
  .swiper-pagination-bullet{
    visibility: visible;
  }

  .section {
    padding: 7rem 1rem;
}
.section-description,
.review-quote{
  padding: 0 6rem;
}
.about-content{
  grid-template-columns: 1fr;
  row-gap: 3rem;
  justify-items: center;
}
.about .content-subtitle,
.about .content-title,
.about .content-description{
  text-align: center;
}
.about-details {
  justify-items: center;
}
.about-lists{
  justify-content: center;
}
.services .menu-content {
  grid-template-columns: 1fr;
  row-gap: 3rem;
}
.footer-container{
  row-gap: 1.5rem;
}
}

@media screen and (max-width: 600px){
  .container{
    padding: 0.5rem;
  }
  .section-description, .review-quote{
    padding: 0;
  }
  .aboutImg-textBox{
    right: -2rem
  }
  .menuItem-price{
    border: none;
  }
  .menu-img{
    height: 70px;
    width: 70px;
    margin-right: 0;
}
  .brand-images{
    grid-template-columns: repeat(2,1fr);
  }
  .brand-img{
    width: 130px;
  }
  .footer-container{
    grid-template-columns: 1fr;
    row-gap: 6rem;
  }
  .footer-content{
    justify-items: center;
  }
  .footer-linkContent{
    justify-items: center;
  }
  
}
@media screen and (max-width: 400px) {
  .homeTitle{
    font-size:3rem;
  }
  .menu-item{
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    row-gap: 2rem;
  }
  .menuItem-details{
    margin-right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .menuItem-price{
    padding-left: 0;
    flex-direction: row;
  }
  .menuItem-des{
    text-align: center;
}
  .newsletter-input {
    padding: 0 11rem 0 2rem;

}
  .newsletter-button {
    padding: 1.4rem 2rem;

}
}